{
    GSThemeAuthors = (
	"James Carthew"
    );
    GSThemeDetails = "A Dark Theme for GNUstep";
    GSThemeDomain = {
	GSBackHandlesWindowDecorations = NO;
	NSMenuInterfaceStyle = NSMacintoshInterfaceStyle;
    };
    GSThemeIcon = "Thematic1.png";
    GSThemeLicense = GPLv3;
    GSThemeTiles = {
    };
    GSThemeVersion = "1.0";
}